body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 2rem;
  }
  
  .search-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #searchInput {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 16px;
    background-color: #fff;
  }
  
  #searchField {
    padding: 10px 40px 10px 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333" width="24" height="24"><path d="M7 10l5 5 5-5z" /><path d="M0 0h24v24H0z" fill="none" /></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    transition: all 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .card h3 {
    margin-top: 0;
    color: #333;
  }
  
  .card p {
    margin: 5px 0;
    color: #666;
  }
  